name: Release

on:
  release:
    types: [published]

jobs:
  build:
    name: "Release"
    env:
      ASPNETCORE_ENVIRONMENT: "Production"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Restore Nuget Packages
        run: dotnet restore CallbackHandler.sln --source ${{ secrets.PUBLICFEEDURL }} --source ${{ secrets.PRIVATEFEED_URL }}

      - name: Build Code
        run: dotnet build CallbackHandler.sln --configuration Release

      - name: Run Unit Tests
        run: |
          echo "ASPNETCORE_ENVIRONMENT is > ${ASPNETCORE_ENVIRONMENT}"
          dotnet test "CallbackHandler.BusinessLogic.Tests/CallbackHandler.BusinessLogic.Tests.csproj"
          dotnet test "CallbackHandler.CallbackMessageAggregate.Tests/CallbackHandler.CallbackMessageAggregate.Tests.csproj"
          dotnet test "CallbackHandler.Tests/CallbackHandler.Tests.csproj"

      - name: Publish Docker Image - Pre Release
        if: ${{ github.event.release.prerelease == true }} 
        run: |
          docker build . --file CallbackHandler/Dockerfile --tag stuartferguson/callbackhandler:dev
          docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}
          docker push stuartferguson/callbackhandler:dev

      - name: Publish Docker Image - Formal Release
        if: ${{ github.event.release.prerelease == false }} 
        run: |
          docker build . --file CallbackHandler/Dockerfile --tag stuartferguson/callbackhandler:latest
          docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}
          docker push stuartferguson/callbackhandler:latest

      - name: Publish API
        if: ${{ github.event.release.prerelease == false }} 
        run: dotnet publish "CallbackHandler/CallbackHandler.csproj" --configuration Release --output publishOutput -r win-x64 --self-contained false

      - name: Build Release Package
        run: |
          cd /home/runner/work/CallbackHandler/CallbackHandler/publishOutput
          zip -r ../callbackhandler.zip ./*

      - name: Upload the artifact
        uses: actions/upload-artifact@v4.4.0
        with:
          name: callbackhandler
          path: callbackhandler.zip

  deploystaging:
    runs-on: stagingserver
    needs: build
    environment: staging
    name: "Deploy to Staging"
    
    steps:
      - name: Download the artifact
        uses: actions/download-artifact@v4.1.8
        with:
          name: callbackhandler
      
      - name: Remove existing  Windows service
        run: |
          $serviceName = "Transaction Processing - Callback Handler"
          # Check if the service exists
          if (Get-Service -Name $serviceName -ErrorAction SilentlyContinue) {
            Stop-Service -Name $serviceName
            sc.exe delete $serviceName
          }

      - name: Unzip the files
        run: |
          Expand-Archive -Path callbackhandler.zip -DestinationPath "C:\txnproc\transactionprocessing\callbackhandler" -Force
      
      - name: Install as a Windows service
        run: |
          $serviceName = "Transaction Processing - Callback Handler"
          $servicePath = "C:\txnproc\transactionprocessing\callbackhandler\CallbackHandler.exe"
                   
          New-Service -Name $serviceName -BinaryPathName $servicePath -Description "Transaction Processing - CallbackHandler" -DisplayName "Transaction Processing - CallbackHandler" -StartupType Automatic
          Start-Service -Name $serviceName  

  deployproduction:
    runs-on: productionserver
    needs: [build, deploystaging]
    environment: production
    name: "Deploy to Production"
    
    steps:
      - name: Download the artifact
        uses: actions/download-artifact@v4.1.8
        with:
          name: callbackhandler

      - name: Remove existing  Windows service
        run: |
          $serviceName = "Transaction Processing - Callback Handler"
          # Check if the service exists
          if (Get-Service -Name $serviceName -ErrorAction SilentlyContinue) {
            Stop-Service -Name $serviceName
            sc.exe delete $serviceName
          } 

      - name: Unzip the files
        run: |
          Expand-Archive -Path callbackhandler.zip -DestinationPath "C:\txnproc\transactionprocessing\callbackhandler" -Force
                 
      - name: Install as a Windows service
        run: |
          $serviceName = "Transaction Processing - Callback Handler"
          $servicePath = "C:\txnproc\transactionprocessing\callbackhandler\CallbackHandler.exe"
          
          New-Service -Name $serviceName -BinaryPathName $servicePath -Description "Transaction Processing - CallbackHandler" -DisplayName "Transaction Processing - CallbackHandler" -StartupType Automatic
          Start-Service -Name $serviceName

  buildwindows:
    name: "Windows Release"
    env:
        ASPNETCORE_ENVIRONMENT: "Production"

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Get the version
      id: get_version
      uses: battila7/get-version-action@v2

    - name: Publish Images to Docker Hub - Pre Release
      if: ${{ github.event.release.prerelease == true }} 
      run: |
        docker build . --file CallbackHandler/Dockerfilewindows --tag stuartferguson/callbackhandlerwindows:dev
        docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}
        docker push stuartferguson/callbackhandlerwindows:dev
    - name: Publish Images to Docker Hub - Formal Release
      if: ${{ github.event.release.prerelease == false }} 
      run: |
        docker build . --file CallbackHandler/Dockerfilewindows --tag stuartferguson/callbackhandlerwindows:latest
        docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}
        docker push stuartferguson/callbackhandlerwindows:latest
